<!-- edit ootd form -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<h1>Edit OOTD </h1>
		<div>
			<%= render template: "partials/_ootd_form.html.erb" %>
		</div>

		<br>

		<%= link_to "Back",  ootds_path, class: "btn btn-default" %>

	</div>
</div>