<h2> Upload a New #ootd </h2>


<%= simple_form_for @ootd, html: { multipart: true } do |f| %>
  <%= f.input :trend, input_html: {class: 'form-control'}, error: 'Trend is mandatory, please specify one' %>
  <%= f.input :caption, input_html: {class: 'form-control'} %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>