<div>
	<h1 style="text-align:center"> Sunday's Best </h1>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

     <div class="item active caro-pan">
			<img class="caro-img" src="https://images.unsplash.com/photo-1432656955862-8455b1049e9c?q=80&fm=jpg&s=ee091626e6a91ad1d4b6da26609860c2" alt="...">
			<div class="carousel-caption">
				<h1>Share Your Style</h1>
			</div>
		</div>


    <div class="item caro-pan">
			<img class="caro-img" src="https://images.unsplash.com/uploads/14126691796798a85b1b0/970ca552?q=80&fm=jpg&s=1ab8d6561218bb4321e4dea3a5fa1e46" alt="...">
			<div class="carousel-caption">
				<h1>Discover New Outfits</h1>
			</div>
		</div>



	<div class="item caro-pan">
			<img class="caro-img" src="/images/ootds/YSWBX4I5PP.jpg">
			<div class="carousel-caption">
				<h1>Find the Best Fashion Inspiration</h1>
			</div>
		</div>


 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>