<div class="container-fluid">
    <h1 class="ootd-item-panels google-font">Favorites page </h1>

   
        <div class="ootd-item-panels">
               <div id="pins" class="transitions-enabled">
                <% @favorites.each do |favorite| %>
                    <div class="box panel panel-default">
                            <%= favorite.name %>
                        <div class="panel-body">
                        
                            <%= image_tag favorite.item_img.url(:medium) %>
                            
                        </div>
                    </div>
                <% end %>
                </div>
        </div>


</div>

<script>
    $(function(){

      var $container = $('#pins');
      $("img").load(function() {
        $container.masonry(); //this tweak is a fix on chrome and safari browser
      });      

      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector: '.box',
          isFitWidth: true
        });
      });
     });

</script>