<h1> Generate page </h1>


<div id="pins" class="transitions-enabled">
	
		<div class="panel-body">
			<%= image_tag @item_tops.item_img.url(:medium) %>
		</div>
</div>

<div id="pins" class="transitions-enabled">
		
		<div class="panel-body">
			<%= image_tag @item_bottoms.item_img.url(:medium) %>
		</div>
</div>

<br><br>