<div class="container">
	<div id="pins" class="transitions-enabled">
		<% @items.each do |item| %>
			<div class="box panel panel-default">
				<%= item.name %>
			</div>
		<% end %>
	</div>
</div>

<script>
	$(function(){

	  var $container = $('#pins');

	  $("img").load(function() {
        $container.masonry(); //this tweak is a fix on chrome and safari browser
      });      


	  $container.imagesLoaded(function(){
	    $container.masonry({
	      itemSelector: '.box',
	      isFitWidth: true
	    });
	  });
	 });

</script>