/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require bootstrap
 *= require_tree .
 */
 
html {
    height: 100%;
    background-size: cover;
}

body {
	padding-top:50px;
}

.btn {
  margin: 2px;
}

h1.ootd-gallery {
	text-align: center;
}

.heart-icon {
	width: 20px;
}

.sign-in-page {
  background: url("https://images.unsplash.com/photo-1416838375725-e834a83f62b7?ixlib=rb-0.3.5&q=80&fm=jpg&s=699ebec97f60d19a7f8694db34a8168f")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: gray;
  height: 900px;
}

.sign-in-font {
  color: white;
}

.jumbotron-margin {
  border-radius: 20px;
}

.show-user-font{
  text-align: center;
}

.search-bar {
  text-align: center;
  margin: auto 0px;
  padding: 0px;

}

.ootd-img {
  border-radius: 30px;
}

.new-edit-ootd-form {
   background: url("https://images.unsplash.com/photo-1416339698674-4f118dd3388b?ixlib=rb-0.3.5&q=80&fm=jpg&s=dc1002f24f59f9c010b4fae52168ffa9")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: gray;
  height: 900px;
}

.ootd-font {
  color: white;
  background-color: transparent;
  background-image: radial-gradient(
     rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.79)
   );
  border-radius: 10px;
}

.ootd-item-panels {
  text-align: center;
}

/* Home Page Carousel */

.caro-pan {
  /**/
  height: 100%;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  background-position: center;
  background-size: cover;

}



/* draggable targets */
[data-draggable="target"]
{
    float:left;
    list-style-type:none;
    
    width:50%;
    height:200px;
    overflow-y:auto;
    
    margin:0 0.5em 0.5em 0;
    padding:0.5em;
    
    border:2px solid #888;
    border-radius:0.2em;
    
    background:#ddd;
    color:#555;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;
    
    line-height:1.3;
}
